<script lang="ts" setup>
import { nextTick, onMounted, ref } from 'vue'
import type { VForm } from 'vuetify/components'
import type { Employee } from '@/types/Employee'
import http from '@/service/http'
import { useLoadingStore } from '@/stores/loading'
import employeeService from '@/service/employee'
import { useEmployeeStore } from '@/stores/employee'
const employeeStore = useEmployeeStore()
const headers = [
  {
    title: 'Id',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Photo',
    key: 'image'
  },
  {
    title: 'Name',
    key: 'name',
    value: 'name'
  },
  {
    title: 'Position',
    key: 'position',
    value: 'position'
  },
  {
    title: 'Salary',
    key: 'salary',
    value: 'salary'
  },
  { title: 'Actions', key: 'actions', sortable: false }
]
const loadingStore = useLoadingStore()
const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog = ref(false)
const dialogDelete = ref(false)
const loading = ref(false)

let editedIndex = -1
let lastId = 4
function onSubmit() {}

function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    employeeStore.clearForm()
  })
}
async function deleteItemConfirm() {
  // Delete item from list
  await employeeStore.deleteEmployee()
  closeDelete()
}
async function editItem(item: Employee) {
  if (!item.id) return
  await employeeStore.getEmployee(item.id)
  dialog.value = true
}
async function deleteItem(item: Employee) {
  if (!item.id) return
  await employeeStore.getEmployee(item.id)
  dialogDelete.value = true
  editedIndex = -1
}
function closeDialog() {
  dialog.value = false
  nextTick(() => {
    employeeStore.clearForm()
  })
}
async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  await employeeStore.saveEmployee()
  closeDialog()
}

onMounted(async () => {
  await employeeStore.getEmployees()
})
</script>
<template>
  <div max-width="1280px" max-height="720px" class="BG-img">
    <v-container>
      <v-row>
        <v-col style="background-color: #d4ccc4">
          <v-sheet max-width="100%" max-height="100%" elevation="6">
            <v-data-table :headers="headers" :items="employeeStore.employees">
              <template v-slot:top>
                <v-toolbar flat>
                  <v-toolbar-title>Employees</v-toolbar-title>
                  <v-divider class="mx-4" inset vertical></v-divider>
                  <v-spacer></v-spacer>
                  <!-- Put Edited Dialog -->

                  <v-dialog v-model="dialog" persistent width="1024">
                    <template v-slot:activator="{ props }">
                      <v-btn color="primary" v-bind="props"> New Employee </v-btn>
                    </template>
                    <v-card>
                      <v-card-title>
                        <span class="text-h5">Employee Profile</span>
                      </v-card-title>
                      <v-card-text>
                        <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                          <v-container>
                            <v-row>
                              <v-col cols="12" sm="12" md="4">
                                <v-text-field
                                  v-model="employeeStore.editedEmployee.name"
                                  :readonly="loading"
                                  :rules="[(v) => !!v || 'Field is required']"
                                  class="mb-2"
                                  clearable
                                  label="Name"
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="12" md="4">
                                <v-text-field
                                  v-model="employeeStore.editedEmployee.position"
                                  :readonly="loading"
                                  :rules="[(v) => !!v || 'Field is required']"
                                  class="mb-2"
                                  clearable
                                  label="Position"
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="12" md="4">
                                <v-text-field
                                  v-model="employeeStore.editedEmployee.salary"
                                  :readonly="loading"
                                  :rules="[(v) => !!v || 'Field is required']"
                                  class="mb-2"
                                  clearable
                                  label="Salary"
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="12" md="4">
                                <v-img
                                  :src="
                                    'http://localhost:3000/images/employee/' +
                                    employeeStore.editedEmployee.image
                                  "
                                  width="200"
                                ></v-img>
                              </v-col>
                              <v-col cols="12" sm="12" md="4">
                                <v-file-input
                                  v-model="employeeStore.editedEmployee.files"
                                  :rules="[
                                    (value) => {
                                      return (
                                        !value ||
                                        !value.length ||
                                        value[0].size < 2000000 ||
                                        'Avatar size should be less than 2 MB!'
                                      )
                                    }
                                  ]"
                                  accept="image/png, image/jpeg"
                                  label="Avatar"
                                  placeholder="Pick an avatar"
                                  prepend-icon="mdi-camera"
                                ></v-file-input>
                              </v-col>
                            </v-row>
                          </v-container>
                        </v-form>
                        <small>*indicates required field</small>
                      </v-card-text>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue-darken-1" variant="text" @click="closeDialog()">
                          Close
                        </v-btn>
                        <v-btn color="blue-darken-1" variant="text" @click="save()"> Save </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>

                  <!-- Delete Dialog-->
                  <v-dialog v-model="dialogDelete" max-width="500px">
                    <v-card>
                      <v-card-title class="text-h5"
                        >Are you sure you want to delete this item?</v-card-title
                      >
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue-darken-1" variant="text" @click="closeDelete"
                          >Cancel</v-btn
                        >
                        <v-btn color="blue-darken-1" variant="text" @click="deleteItemConfirm"
                          >OK</v-btn
                        >
                        <v-spacer></v-spacer>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-toolbar>
              </template>
              <template v-slot:[`item.actions`]="{ item }">
                <v-icon size="small" class="me-2" @click="editItem(item)"> mdi-pencil </v-icon>
                <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
              </template>
              <template v-slot:[`item.image`]="{ item }">
                <div class="circular-image">
                  <!-- Style the image to be circular -->
                  <v-img
                    :src="'http://localhost:3000/images/employee/' + item.image"
                    width="100"
                  ></v-img>
                </div>
              </template>
              <template v-slot:no-data>
                <v-btn color="primary" @click="employeeStore.getEmployees"> Reset </v-btn>
              </template>
            </v-data-table>
          </v-sheet>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style scoped>
/* CSS styles for circular image */
.circular-image {
  width: 100px; /* Set width and height for circular image */
  height: 100px;
  border-radius: 50%; /* Make the image circular */
  overflow: hidden; /* Hide overflow if image exceeds circular area */
  display: flex; /* Center the image */
  justify-content: center;
  align-items: center;
}

.circular-image img {
  width: 100%; /* Make the image fill the circular area */
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover the circular area */
}
</style>
