<script setup lang="ts">
import { useReceiptSalary } from '@/stores/salary'

const receiptSalary = useReceiptSalary()
</script>

<template>
  <v-dialog v-model="receiptSalary.receiptSalaryDialog" persistent width="auto">
    <v-card>
      <v-card-title class="text-h5"> Receipt </v-card-title>

      <v-card-text>
        <div>
          <div style="text-align: center">
            <v-row align="center" justify="center" style="font-size: 25px">
              ID: {{ receiptSalary.receiptSalary?.id }}
            </v-row>
          </div>

          <v-row>
            <v-col> </v-col>
            <v-col style="text-align: left">
              Date: {{ receiptSalary.receiptSalary?.createdDate }}<br />
              รายการ<br />
              <v-table>
                <thead>
                  <tr>
                    <th class="text-left">Id</th>
                    <th class="text-left">Name</th>
                    <th class="text-left">Salary</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in receiptSalary.receiptSalaryItems" :key="item.id">
                    <td>{{ item.empId }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.salary }}</td>
                  </tr>
                </tbody>
                <br />
              </v-table>

              ยอดสุทธิ: {{ receiptSalary.receiptSalary?.total }}<br />
              ประเภทการจ่ายเงิน: {{ receiptSalary.receiptSalary?.paymentType }}<br />
            </v-col>
            <v-col> </v-col>
          </v-row>
        </div>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="green-darken-1"
          variant="text"
          @click="receiptSalary.receiptSalaryDialog = false"
        >
          ปิด
        </v-btn>
        <v-btn
          color="green-darken-1"
          variant="text"
          @click="
            () => {
              receiptSalary.receiptSalaryDialog = false
              receiptSalary.order()
              receiptSalary.initReceipt()
            }
          "
        >
          บันทึก
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
