<script lang="ts" setup>
import { onMounted, ref } from 'vue'
import { useEmployeeStore } from '@/stores/employee'
import { useReceiptSalary } from '@/stores/salary'
import ReceiptSalaryDialog from '@/views/salary/ReceiptSalaryDialog.vue'
import type { ReceiptSalaryItem } from '@/types/ReceiptSalaryItem'
const employeeStore = useEmployeeStore()
const headers = [
  {
    title: 'Id',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Photo',
    key: 'image'
  },
  {
    title: 'Name',
    key: 'name',
    value: 'name'
  },
  {
    title: 'Position',
    key: 'position',
    value: 'position'
  },
  {
    title: 'Salary',
    key: 'salary',
    value: 'salary'
  },
  { title: 'Payment Status', key: 'status', value: 'status', sortable: false }
]
const disabledV = ref(true)
const disabledPay = ref(false)
onMounted(async () => {
  await employeeStore.getEmployees()
})

const openForm = () => {
  disabledV.value = false
  disabledPay.value = true
}

const toggleAllStatus = () => {
  employeeStore.employees.forEach((employee) => {
    if (employee.status == false) {
      employee.status = true
    }
  })
}

const cancelStatus = () => {
  employeeStore.employees.forEach((employee) => {
    employee.status = false
  })
}

const currentTime = ref(new Date())
const day = currentTime.value.getDate()
const year = currentTime.value.getFullYear()

const monthNames = [
  'มกราคม',
  'กุมภาพันธ์',
  'มีนาคม',
  'เมษายน',
  'พฤษภาคม',
  'มิถุนายน',
  'กรกฎาคม',
  'สิงหาคม',
  'กันยายน',
  'ตุลาคม',
  'พฤศจิกายน',
  'ธันวาคม'
]

const monthName = monthNames[currentTime.value.getMonth()]
const dateWithMonth = `${day} ${monthName} ${year}`

const startDate = new Date(2024, 0, 1)
const endDate = new Date(2024, 0, 31)
const startMonth = monthNames[startDate.getMonth()]
const endMonth = monthNames[endDate.getMonth()]
const dateRange = `${startDate.getDate()} ${startMonth} ${startDate.getFullYear()} - ${endDate.getDate()} ${endMonth} ${endDate.getFullYear()}`

const receiptSalary = useReceiptSalary()

const pay = () => {
  employeeStore.employees.forEach((employee) => {
    if (employee.status == true) {
      const newReceiptSalaryItem: ReceiptSalaryItem = {
        id: -1,
        name: employee.name,
        salary: employee.salary,
        empId: employee.id
      }
      receiptSalary.addReceiptItem(newReceiptSalaryItem)
    }
  })
}
</script>
<template>
  <div max-width="1280px" max-height="720px" class="BG-img">
    <v-container>
      <v-row>
        <v-col style="background-color: #d4ccc4">
          <v-sheet max-width="100%" max-height="100%" elevation="6">
            <v-data-table :headers="headers" :items="employeeStore.employees">
              <template v-slot:top>
                <v-toolbar flat>
                  <v-toolbar-title>Employees</v-toolbar-title>
                  <v-divider class="mx-4" inset vertical></v-divider>
                  <v-spacer></v-spacer>
                  {{ dateWithMonth }}
                  <v-spacer></v-spacer>
                  <v-divider class="mx-4" inset vertical></v-divider>
                  <v-btn class="ml-auto" @click="openForm()" :disabled="disabledPay"
                    >จ่ายเงิน</v-btn
                  >
                  <v-btn class="ml-auto" @click="toggleAllStatus()" :disabled="disabledV"
                    >จ่ายทั้งหมด</v-btn
                  >
                </v-toolbar>
              </template>
              <template v-slot:[`item.image`]="{ item }">
                <div class="circular-image">
                  <!-- Style the image to be circular -->
                  <v-img
                    :src="'http://localhost:3000/images/employee/' + item.image"
                    width="100"
                  ></v-img>
                </div>
              </template>
              <template v-slot:[`item.status`]="{ item }">
                <v-checkbox v-model="item.status" :disabled="disabledV"></v-checkbox>
              </template>
              <template v-slot:no-data>
                <v-btn color="primary" @click="employeeStore.getEmployees"> Reset </v-btn>
              </template>
            </v-data-table>
          </v-sheet>
        </v-col>
      </v-row>
      <v-row>
        <v-btn @click="cancelStatus()" :disabled="disabledV">ยกเลิก</v-btn>
        <v-btn @click="receiptSalary.showReceiptSalaryDialog(), pay()" :disabled="disabledV"
          >บันทึก</v-btn
        >
      </v-row>
    </v-container>
  </div>
  <ReceiptSalaryDialog></ReceiptSalaryDialog>
</template>

<style scoped>
/* CSS styles for circular image */
.circular-image {
  width: 100px; /* Set width and height for circular image */
  height: 100px;
  border-radius: 50%; /* Make the image circular */
  overflow: hidden; /* Hide overflow if image exceeds circular area */
  display: flex; /* Center the image */
  justify-content: center;
  align-items: center;
}

.circular-image img {
  width: 100%; /* Make the image fill the circular area */
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover the circular area */
}
</style>
