<script setup lang="ts">
import router from '@/router'
import { useReceiptSalary } from '@/stores/salary'
import { ref, onMounted } from 'vue'

const receiptSalary = useReceiptSalary()

const headers = [
  {
    title: 'Id',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Date',
    key: 'createdDate',
    value: 'createdDate'
  },
  {
    title: 'total',
    key: 'total',
    value: 'total'
  },
  {
    title: 'paymentType',
    key: 'paymentType',
    value: 'paymentType'
  },
  { title: 'Actions', key: 'actions', sortable: false }
]

function receiptItem(item: any) {
  receiptSalary.receiptSalary = item
  receiptSalaryDialog.value = true
  receiptSalary.showReceiptIngDialogById(item)
  console.log(receiptSalary.receiptSalaryItems)
}
const receiptSalaryDialog = ref(false) // Controls the visibility of the dialog

onMounted(async () => {
  receiptSalary.getOrderIngredients()
  console.log('receiptSalary' + receiptSalary.receiptSalaryItems)
  console.log()
})
</script>
<template>
  <v-parallax
    src="https://images.pexels.com/photos/15645111/pexels-photo-15645111/free-photo-of-close-up-of-woman-holding-a-cup-of-coffee-and-using-a-smartphone.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
  >
    <div>
      <v-container style="padding-top: 100">
        <v-row>
          <v-col cols="12" style="background-color: #e0e0e0">
            <v-container>
              <v-sheet
                min-width="500"
                max-width="100%"
                height="900"
                elevation="6"
                class="overflow-auto"
              >
                <v-data-table :headers="headers" :items="receiptSalary.receiptSalaryItems">
                  <template v-slot:top>
                    <v-toolbar flat>
                      <v-toolbar-title>Receipt Ingredient Store</v-toolbar-title>
                      <v-divider class="mx-4" inset vertical></v-divider>
                      <v-spacer></v-spacer>
                    </v-toolbar>
                  </template>
                  <template v-slot:[`item.actions`]="{ item }">
                    <v-icon size="small" @click="receiptItem(item)" class="text-center">
                      mdi-launch
                    </v-icon>
                  </template>
                </v-data-table>
              </v-sheet>
            </v-container>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </v-parallax>

  <!-- Add v-dialog component here -->
  <v-dialog v-model="receiptSalaryDialog" max-width="500px">
    <v-card>
      <v-card-title class="text-h5"> Receipt </v-card-title>
      <v-card-text>
        <div>
          <div style="text-align: center">
            <v-row align="center" justify="center" style="font-size: 25px">
              ID: {{ receiptSalary.receiptSalary?.id }}
            </v-row>
          </div>

          <v-row>
            <v-col> </v-col>
            <v-col style="text-align: left">
              Date: {{ receiptSalary.receiptSalary?.createdDate }}<br />
              รายการ<br />
              <v-table>
                <thead>
                  <tr>
                    <th class="text-left">Id</th>
                    <th class="text-left">Name</th>
                    <th class="text-left">Salary</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in receiptSalary.receiptSalaryItems" :key="item.id">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.salary }}</td>
                  </tr>
                </tbody>
              </v-table>
              ยอดสุทธิ: {{ receiptSalary.receiptSalary?.total }}<br />
              ประเภทการจ่ายเงิน: {{ receiptSalary.receiptSalary?.paymentType }}<br />
            </v-col>
            <v-col> </v-col>
          </v-row>
        </div>
      </v-card-text>
      <v-card-actions>
        <v-btn color="blue darken-1" @click="receiptSalaryDialog = false">Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style scoped></style>
