<script setup lang="ts">
import { computed, ref } from 'vue'
import { useCheckInOut } from '@/stores/checkInOut'

const useCheckInOutStore = useCheckInOut()

const ShowCheckInOutDialog = (item: any) => {
  useCheckInOutStore.ShowCheckInOutDialog(item)
}
</script>

<template>
  <div>
    <v-text-field v-model="useCheckInOutStore.search" label="Search" outlined></v-text-field>
    <v-data-table
      :headers="useCheckInOutStore.headers"
      :items="useCheckInOutStore.filteredCheckinUser"
    >
      <template v-slot:item="{ item }">
        <tr :key="item.id">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.status }}</td>
          <td>
            <v-checkbox
              v-model="item.checked"
              @change="useCheckInOutStore.handleCheckboxChange(item)"
            ></v-checkbox>
          </td>
          <td>
            <v-btn color="green-darken-1" variant="text" @click="ShowCheckInOutDialog(item)">
              Show
            </v-btn>
          </td>
        </tr>
      </template>
    </v-data-table>
    <v-dialog v-model="useCheckInOutStore.CheckInOutDialog" persistent width="auto">
      <v-card>
        <v-card-title style="text-align: center" class="text-h5">
          Check In - Check Out
        </v-card-title>
        <v-card-text>
          <div style="text-align: center" v-if="useCheckInOutStore.currentItem">
            <v-row>
              <v-col></v-col>
              <v-col style="text-align: center">
                <v-table>
                  <thead>
                    <tr>
                      <th class="text-left">ID</th>
                      <th class="text-left">Name</th>
                      <th class="text-left">Status</th>
                      <th class="text-left">Time</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ useCheckInOutStore.currentItem.id }}</td>
                      <td>{{ useCheckInOutStore.currentItem.name }}</td>
                      <td>{{ useCheckInOutStore.currentItem.status }}</td>
                      <td>{{ useCheckInOutStore.currentItem.time }}</td>
                    </tr>
                  </tbody>
                </v-table>
              </v-col>
              <v-col></v-col>
            </v-row>
          </div>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="green-darken-1"
            variant="text"
            @click="useCheckInOutStore.CheckInOutDialog = false"
          >
            ปิด
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<style scoped></style>
