<template>
  <div>
    <!-- ตาราง1 -->
    <v-sheet style="background-color: #e0e0e0; padding-left: 5px; min-width: 460px">
      <v-col cols="12" sm="12" md="12" lg="12" xl="12">
        <v-row class="justify-center align-center">
          <v-col>
            <v-sheet width="350" height="800" elevation="6">
              <v-date-picker v-model="selectedMonth" @input="fetchDataForSelectedMonth" />
              <Bar v-if="chartData.labels.length > 0" id="my-chart-id-1" :options="chartOptions" :data="chartData">
              </Bar>
              <div v-else>No data available for selected month.</div>
            </v-sheet>
          </v-col>

          <!-- ตาราง2 -->
          <v-col>
            <v-sheet width="350" height="800" elevation="6">
              <v-select v-model="selectedYear" :items="years" label="Year" dense></v-select>
              <v-select v-model="selectedMonth2" :items="months" label="Month" dense></v-select>
              <Bar v-if="chartData2.labels.length > 0" id="my-chart-id-1" :options="chartOptions2" :data="chartData2">
              </Bar>
              <div v-else>No data available for selected month.</div>
            </v-sheet>
          </v-col>

          <!-- ตาราง3 -->
          <v-col>
            <v-sheet width="350" height="800" elevation="6">
              <v-select v-model="selectedYear3" :items="years" label="Year" dense></v-select>

              <Bar v-if="chartData3.labels.length > 0" id="my-chart-id-1" :options="chartOptions3" :data="chartData3">
              </Bar>
              <div v-else>No data available for selected month.</div>
            </v-sheet>
          </v-col>
        </v-row>
      </v-col>
    </v-sheet>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted, watch, nextTick } from 'vue'
import axios from 'axios'
import { Bar } from 'vue-chartjs'
import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  BarElement,
  CategoryScale,
  LinearScale
} from 'chart.js'

ChartJS.register(Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale)

const chartData = ref({
  labels: [],
  datasets: [
    {
      label: 'Data One',
      backgroundColor: '#f87979',
      data: []
    }
  ]
})

const chartOptions = ref({
  responsive: false,
  maintainAspectRatio: true
})

const selectedReport = ref('report1') // Default to Report 1
const selectedMonth = ref(new Date())

async function fetchChartData(reportUrl: string) {
  try {
    const res = await axios.get(reportUrl)
    const data = res.data.map((item: { total_diff: any }) => item.total_diff)
    const labels = res.data.map((item: { name: any }) => item.name)
    console.log(res.data)


    chartData.value = {
      labels: labels,
      datasets: [
        {
          label: 'รายวัน',
          backgroundColor: '#f87979',
          data: data
        }
      ]
    }
  } catch (error) {
    console.error('Failed to fetch chart data:', error)
  }
}

function fetchDataForSelectedMonth() {
  const selectedDate = new Date(selectedMonth.value)
  const formattedDate = selectedDate.toISOString().substr(0, 10)
  console.log('Selected Date:', formattedDate)
  const reportUrl = `http://localhost:3000/report-check-stock/report1/${formattedDate}`
  fetchChartData(reportUrl)
  selectedReport.value = 'report1'
}

onMounted(() => {
  fetchDataForSelectedMonth()
})

watch(selectedMonth, () => {
  fetchDataForSelectedMonth()
})

/////////////////////ตาราง2

const selectedMonth2 = ref<string | null>(null)
const selectedYear = ref<number | null>(null)
const chartData2 = ref({
  labels: [],
  datasets: [
    {
      label: 'Data One',
      backgroundColor: '#f87979',
      data: []
    }
  ]
})

const chartOptions2 = ref({
  responsive: false,
  maintainAspectRatio: true
})

const selectedReport2 = ref('report2') // Default to Report 1

async function fetchChartData2(reportUrl: string) {
  try {
    const res = await axios.get(reportUrl)
    const data = res.data.map((item: { total_diff: any }) => item.total_diff)
    const labels = res.data.map((item: { name: any }) => item.name)
    console.log(res.data)
    chartData2.value = {
      labels: labels,
      datasets: [
        {
          label: 'รายเดือน',
          backgroundColor: '#f87979',
          data: data
        }
      ]
    }
  } catch (error) {
    console.error('Failed to fetch chart data:', error)
  }
}

watch(selectedMonth2, () => {
  nextTick(() => {
    fetchDataForSelectedMonth2()
  })
})

function fetchDataForSelectedMonth2() {
  if (!selectedYear.value || !selectedMonth2.value) {
    console.error('Selected year or month is null.')
    return
  }
  const formattedDate = `${selectedYear.value}-${(
    months.indexOf(selectedMonth2.value as string) + 1
  )
    .toString()
    .padStart(2, '0')}`

  console.log('Selected Date:', formattedDate)
  const reportUrl = `http://localhost:3000/report-check-stock/report2/${formattedDate}`
  fetchChartData2(reportUrl)
  selectedReport2.value = 'report2'
}

const months = [
  'January',
  'February',
  'March',
  'April',
  'May',
  'June',
  'July',
  'August',
  'September',
  'October',
  'November',
  'December'
]

const years = Array.from({ length: 10 }, (_, i) => new Date().getFullYear() - i)

///////////////////////ตาราง3

const selectedYear3 = ref<number | null>(null)
const chartData3 = ref({
  labels: [],
  datasets: [
    {
      label: 'Data One',
      backgroundColor: '#f87979',
      data: []
    }
  ]
})

const chartOptions3 = ref({
  responsive: false,
  maintainAspectRatio: true
})

const selectedReport3 = ref('report3') // Default to Report 1

async function fetchChartData3(reportUrl: string) {
  try {
    const res = await axios.get(reportUrl)
    const data = res.data.map((item: { total_diff: any }) => item.total_diff)
    const labels = res.data.map((item: { name: any }) => item.name)

    chartData3.value = {
      labels: labels,
      datasets: [
        {
          label: 'รายเดือน',
          backgroundColor: '#f87979',
          data: data
        }
      ]
    }
  } catch (error) {
    console.error('Failed to fetch chart data:', error)
  }
}

watch(selectedYear3, () => {
  nextTick(() => {
    fetchDataForSelectedMonth3()
  })
})

function fetchDataForSelectedMonth3() {
  if (!selectedYear3.value) {
    console.error('Selected year or month is null.')
    return
  }
  const formattedDate = `${selectedYear3.value}`

  console.log('Selected Date:', formattedDate)
  const reportUrl = `http://localhost:3000/report-check-stock/report3/${formattedDate}`
  fetchChartData3(reportUrl)
  selectedReport3.value = 'report3'
}

const months3 = [
  'January',
  'February',
  'March',
  'April',
  'May',
  'June',
  'July',
  'August',
  'September',
  'October',
  'November',
  'December'
]

const years3 = Array.from({ length: 10 }, (_, i) => new Date().getFullYear() - i)
</script>
