<script setup lang="ts">
import { useCheck } from '@/stores/checkStock'
import { onMounted, ref } from 'vue'
import type { VForm } from 'vuetify/components'

const form = ref(false)
const loading = ref(false)

const checkStore = useCheck()
onMounted(() => {
  checkStore.initialize()
})
</script>

<template>
  <v-parallax
    src="https://images.pexels.com/photos/15645111/pexels-photo-15645111/free-photo-of-close-up-of-woman-holding-a-cup-of-coffee-and-using-a-smartphone.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
  >
    <div>
      <v-container>
        <v-col style="background-color: #d4ccc4">
          <v-sheet elevation="6">
            <!-- <div>
           </v-data-table-virtual>
          </div> -->
            <!-- DataTable -->
            <div>
              <v-data-table-virtual
                :headers="checkStore.headers"
                :items="checkStore.ingredients"
                height="300"
                item-value="name"
              >
                <template v-slot:[`item.inStock`]="{ item }">
                  <td :style="{ color: item.inStock <= 5 ? 'red' : 'black' }">
                    {{ item.inStock }}
                  </td>
                </template>
                <template v-slot:top>
                  <v-toolbar flat>
                    <v-toolbar-title class="text-center">STOCK</v-toolbar-title>

                    <!-- Delete-->
                    <v-dialog v-model="checkStore.dialogDelete" max-width="500px">
                      <v-card>
                        <v-card-title class="text-h5"
                          >Are you sure you want to delete this item?</v-card-title
                        >
                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn
                            color="blue-darken-1"
                            variant="text"
                            @click="checkStore.closeDelete"
                            >Cancel</v-btn
                          >
                          <v-btn
                            color="blue-darken-1"
                            variant="text"
                            @click="checkStore.deleteItemConfirm"
                            >OK</v-btn
                          >
                          <v-spacer></v-spacer>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                  </v-toolbar>
                </template>

                <template v-slot:[`item.actions`]="{ item }">
                  <v-icon size="small" class="me-2" @click="checkStore.editItem(item)">
                    mdi-pencil
                  </v-icon>
                  <v-icon size="small" @click="checkStore.deleteItem(item)"> mdi-delete </v-icon>
                </template>

                <template v-slot:no-data>
                  <v-btn color="primary" @click="checkStore.initialize"> Reset </v-btn>
                </template>
              </v-data-table-virtual>
            </div>

            <div>
              <v-row justify="center" class="mt-4">
                <v-dialog v-model="checkStore.dialog" persistent width="1024">
                  <template v-slot:activator="{ props }">
                    <v-btn color="primary" v-bind="props"> New Ingredient </v-btn>
                  </template>
                  <v-card>
                    <v-card-title class="text-center">
                      <span class="text-h5">Ingredient</span>
                    </v-card-title>

                    <v-card-text>
                      <v-form
                        ref="refForm"
                        v-model="checkStore.form"
                        @submit.prevent="checkStore.onSubmit"
                      >
                        <v-text-field
                          v-model="checkStore.editedIngredient.name"
                          :readonly="checkStore.loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Name"
                        ></v-text-field>
                        <v-text-field
                          v-model="checkStore.editedIngredient.inStock"
                          :readonly="checkStore.loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          clearable
                          label="Instock"
                          placeholder="Enter your quantity"
                          type="number"
                        ></v-text-field>

                        <v-text-field
                          v-model="checkStore.editedIngredient.Unit"
                          :readonly="checkStore.loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          clearable
                          label="Unit"
                          placeholder="Enter your unit"
                        ></v-text-field>

                        <br />
                      </v-form>
                    </v-card-text>

                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue-darken-1" variant="text" @click="checkStore.closeDialog()">
                        Close
                      </v-btn>
                      <v-btn color="blue-darken-1" variant="text" @click="checkStore.Save()">
                        Save
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-row>
            </div>
            <v-container>
              <v-row>
                <v-col class="text-center" style="padding-top: 5%">
                  <v-btn
                    rounded
                    @click="checkStore.naviInShowCheckStock()"
                    class="mr-10 mt-6"
                    rounded-xl
                    color="red"
                    width="200px"
                    >Back</v-btn
                  >
                  <v-btn
                    rounded
                    @click="checkStore.finishShowStock()"
                    rounded-xl
                    class="mt-6"
                    color="green"
                    width="200px"
                    >Finish</v-btn
                  >
                </v-col>
              </v-row></v-container
            >
          </v-sheet>
        </v-col>
      </v-container>
    </div>
  </v-parallax>
</template>

<style scoped></style>
