<template>
  <v-container>
    <v-row>
      <v-col class="text-h5">History</v-col>
      <v-col
        ><v-text-field
          v-model="search"
          prepend-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
          dense
          class="bigger-text-field"
        ></v-text-field
      ></v-col>
    </v-row>
    <v-row v-if="historyData">
      <v-col>
        <!-- <v-data-table
          :items="historyData"
          item-key="id"
          :headers="headers"
          class="elevation-1"
        ></v-data-table> -->
        <v-data-table-virtual
          :items="historyData"
          item-key="id"
          :headers="headers"
          height="800"
          item-value="name"
        >
          <template v-slot:top>
            <!-- <v-toolbar flat>
              <v-toolbar-title class="text-center">STOCK</v-toolbar-title>
            </v-toolbar> -->
          </template>
        </v-data-table-virtual>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup lang="ts">
import http from '@/service/http'
import { ref, onMounted } from 'vue'

const historyData = ref(null)
const search = ref('')

const headers = [
  // {
  //   title: 'Id',
  //   key: 'id',
  //   value: 'id'
  // },
  {
    title: 'IdIngredient',
    key: 'idIngredient',
    value: 'idIngredient'
  },
  {
    title: 'Name',
    key: 'name',
    value: 'name'
  },
  {
    title: 'Instock',
    key: 'inStock',
    value: 'inStock'
  },
  {
    title: 'Maximum',
    key: 'Maximum',
    value: 'Maximum'
  },
  {
    title: 'Unit',
    key: 'Unit',
    value: 'Unit'
  },
  {
    title: 'Date',
    key: 'createdDate',
    value: (item: any) => {
      return new Date(item.createdDate).toLocaleDateString('th-TH', {
        day: '2-digit',
        month: 'short',
        year: 'numeric'
      })
    }
  }
]

onMounted(async () => {
  const response = await http.get('/history')
  historyData.value = response.data
})

function getCheckStockHistory() {
  return http.get('/history')
}
</script>

<style scoped>
.bigger-text-field {
  height: 48px; /* Increase the height as needed */
}
</style>
