<script setup lang="ts">
import router from '@/router'
import { useCheck } from '@/stores/checkStock'
import { ref, onMounted, watchEffect, inject, type Ref } from 'vue'

const dialog = inject<Ref<boolean>>('PurchaseDialog')

const checkStore = useCheck()

const headers = [
  {
    title: 'Id',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Name',
    key: 'name',
    value: 'name'
  },

  {
    title: 'Buy',
    key: 'buy',
    value: 'buy'
  },
  {
    title: 'Unit',
    key: 'Unit',
    value: 'Unit'
  }
]

onMounted(() => {
  checkStore.initialize() // เรียกใช้งาน initialize เมื่อ component ถูกโหลด
})

function naviInStore() {
  router.push('/ingStore')
}
</script>
<template>
  <v-dialog v-model="dialog" persistent width="auto">
    <v-card>
      <v-data-table-virtual
        :headers="headers"
        :items="checkStore.ingredients"
        height="300"
        item-value="name"
      >
        <template v-slot:top>
          <v-toolbar flat>
            <v-card-title class="cente">STOCK</v-card-title>
          </v-toolbar>
        </template>
        <template v-slot:item="{ item }">
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td :style="{ color: item.Maximum - item.inStock >= 15 ? 'red' : 'black' }">
              {{ Math.max(item.Maximum - item.inStock, 0) }}
            </td>

            <td>{{ item.Unit }}</td>
          </tr>
        </template>
      </v-data-table-virtual>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn size="small" prepend-icon="mdi-close-box" color="red" @click="dialog = false">
          Close
        </v-btn>
        <v-btn size="small" prepend-icon="mdi-store" color="green" @click="naviInStore()"
          >ร้านค้าวัตถุดิบ</v-btn
        >
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script setup lang="ts"></script>
@/stores/checkStock
