<script setup lang="ts">
import { usePromotionStore } from '@/stores/promotion'

const promotionStore = usePromotionStore()
</script>

<template>
  <v-dialog v-model="promotionStore.checkMoneyProDialog" width="auto">
    <v-card
      max-width="400"
      prepend-icon="mdi-alert-circle-outline"
      text="กรุณาเพิ่มยอดเงินรวมให้ถึงยอดเงินรวมของเงื่อนไขที่กำหนด"
      title="ยอดเงินรวมไม่เพียงพอ"
    >
      <template v-slot:actions>
        <v-btn
          class="ms-auto"
          text="Close"
          @click="promotionStore.checkMoneyProDialog = false"
        ></v-btn>
      </template>
    </v-card>
  </v-dialog>
</template>
