<script setup lang="ts">
import { useCalculateStore } from '@/stores/calculate'

const calculateStore = useCalculateStore()
</script>

<template>
  <v-dialog v-model="calculateStore.checkMoneyDialog" width="auto">
    <v-card
      max-width="400"
      prepend-icon="mdi-alert-circle-outline"
      text="กรุณาใส่จำนวนเงินให้เพียงพอกับยอดชำระเงิน"
      title="ยอดชำระเงินไม่เพียงพอ"
    >
      <template v-slot:actions>
        <v-btn
          class="ms-auto"
          text="Close"
          @click="calculateStore.checkMoneyDialog = false"
        ></v-btn>
      </template>
    </v-card>
  </v-dialog>
</template>
