<script setup lang="ts">
import { ref } from 'vue'
import { useMemberStore } from '@/stores/member'
import { useCalculateStore } from '@/stores/calculate'

const tel = ref('')
const memberStore = useMemberStore()
const calculateStore = useCalculateStore()

function close() {
  tel.value = ''
  memberStore.currentMember = undefined
  calculateStore.memberDialog = false
}

async function onClick() {
  await memberStore.getMemberByTel(tel.value)
  console.log(memberStore.currentMember)
  console.log(memberStore.members)
  tel.value = ''
  if (memberStore.currentMember) {
    calculateStore.receiptPos!.member = memberStore.currentMember
    calculateStore.receiptPos!.memberId = calculateStore.receiptPos!.member.id
    calculateStore.calMemberDiscount()
  }
}
</script>

<template>
  <v-dialog
    v-model="calculateStore.memberDialog"
    max-width="300px"
    height="100px"
    @click:outside="close()"
  >
    <div style="background-color: #ede1d2; border-radius: 25px; padding: 20px">
      <div style="display: flex; justify-content: space-between">
        <h2>Search Member</h2>
        <div @click="close()" style="cursor: pointer; text-align: right">X</div>
      </div>
      <div>
        <v-text-field
          v-model="tel"
          dense
          variant="solo"
          append-inner-icon="mdi-magnify"
          hide-details
          filled
          rounded
          @keyup.enter="onClick"
          @click:append-inner="onClick()"
        ></v-text-field>
      </div>
      <div
        style="
          background-color: #ede1d2;
          height: 50px;
          width: auto;
          justify-content: center;
          text-align: center;
          padding-top: 20px;
        "
      >
        {{ memberStore.currentMember ? memberStore.currentMember?.name : 'No Member' }}
      </div>
    </div>
  </v-dialog>
</template>
