<script setup lang="ts">
import axios from 'axios';
import { Bar } from 'vue-chartjs'
import { Chart as ChartJS, Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale } from 'chart.js'
import { reactive, ref } from 'vue';
import http from '@/service/http';
import { onMounted } from 'vue';

function genseColor(num: number){
    const colors = [];

    for (let i = 0; i < 10; i++) {
    const randomColor = "#" + Math.floor(Math.random() * 16777215).toString(16);
    colors.push(randomColor);
    }

    console.log(colors);
    return colors
}

async function getReportDay(){
    const res = await axios.get(`http://localhost:3000/order/reportDay1`)
    console.log(res)
    // const labels = res.data.map((item:name) => {
    //     return item.name
    // })
    // const data = res.data.map((item:any) => {
    //     return item.total_amount_per_day
    // })

    const labels = res.data.map((item: { order_date:any }) => item.order_date)
    const data = res.data.map((item: { total_amount_per_day: any }) => item.total_amount_per_day)
    const colors = genseColor(labels.length)

    console.log(labels, data)
    chartData.value = {
        labels: labels,
        datasets: [
            {
                labels: 'Report Day',
                backgroundColor: colors,
                data: data
            }
        ]
    }
}

ChartJS.register(Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale)
    const chartData = ref({
        labels: [],
        datasets: [
            {
                labels: 'Report Day',
                backgroundColor: '#ffffff',
                data: []
            }
        ]
      })
      
     const chartOptions = ref({
        responsive: true
      })
onMounted(async () => {
    await getReportDay()
})
</script>

<template>
    <Bar
      id="my-chart-id"
      :options="chartOptions"
      :data="chartData"
    />
  </template>