<script setup lang="ts">
import type { Product } from '@/types/Product'
import { nextTick, onMounted, ref } from 'vue'

import ProductList from '@/components/ProductList.vue'
import ReceiptDetailTable from './ReceiptDetailTable.vue'
import ReceiptDialog from './ReceiptDialog.vue'
import SearchDialog from './SearchDialog.vue'
import CashDialog from './CashDialog.vue'
import PrompayDialog from './PrompayDialog.vue'
import MemberCard from './MemberCard.vue'
import PromotionDialog from './PromotionDialog.vue'
import { useCalculateStore } from '@/stores/calculate'
import { usePosStore } from '@/stores/pos'
import { usePromotionStore } from '@/stores/promotion'
import CheckMoneyProDialog from './CheckMoneyProDialog.vue'

const tab = ref(1)
const posStore = usePosStore()
// const searchField = ref('')

const divReceiptItem = ref<HTMLElement | null>(null)
const calculateStore = useCalculateStore()
const promotionStore = usePromotionStore()
const selected = (p: Product) => {
  console.log('POS view', p)
  if (!p.id) return
  // if (p.type.id === 1) {
  //   p.type.size = ''
  //   p.type.sweetLevel = ''
  // }
  calculateStore.addReceiptItem(p)
  nextTick(() => {
    if (divReceiptItem.value) divReceiptItem.value.scrollTo(0, divReceiptItem.value.scrollHeight)
  })
}
// function onClick() {
//   calculateStore.showSearchDialog()
//   calculateStore.searchItem(searchField.value)
// }

function cash() {
  calculateStore.showCashDialog()
  calculateStore.receiptPos!.paymentType = 'cash'
}
function prompay() {
  calculateStore.showPrompayDialog()
  calculateStore.receiptPos!.paymentType = 'Prompay'
  calculateStore.receiptPos!.receivedAmount = calculateStore.receiptPos!.total
  calculateStore.receiptPos!.change = 0
}

function printReceipt() {
  calculateStore.receiptPos!.change = calculateStore.receiptPos!.receivedAmount - calculateStore.receiptPos!.total
  calculateStore.showReceiptDialog()
}

// function printMemberDialog() {
//   calculateStore.showmemberDialog()
// }

onMounted(async () => {
  await posStore.getProducts()
  await promotionStore.getPromotions()
})
</script>

<template>
  <v-sheet class="BG-img">
    <v-container>
      <v-row>
        <v-col cols="12" md="6">
          <v-sheet min-width="30%" max-width="100%" max-height="100%" elevation="6" rounded="lg">
            <v-tabs
              v-model="tab"
              color="white"
              align-tabs="center"
              style="background-color: #ae917c"
            >
              <v-tab :value="1">DRINK</v-tab>
              <v-tab :value="2">DESSERTS</v-tab>
              <v-tab :value="3">FOOD</v-tab>
            </v-tabs>
            <v-window v-model="tab" style="justify-content: center">
              <v-window-item :value="1">
                <ProductList
                  :products="posStore.products1"
                  @selected-product="selected"
                ></ProductList>
              </v-window-item>
              <v-window-item :value="2">
                <ProductList
                  :products="posStore.products2"
                  @selected-product="selected"
                ></ProductList>
              </v-window-item>
              <v-window-item :value="3">
                <ProductList
                  :products="posStore.products3"
                  @selected-product="selected"
                ></ProductList>
              </v-window-item>
            </v-window>
          </v-sheet>
        </v-col>

        <v-col cols="12" md="6">
          <v-container class="pa-0">
            <v-row>
              <v-col cols="12">
                <div ref="divReceiptItem" style="height: 300; overflow: auto">
                  <v-sheet
                    min-width="300"
                    max-width="100%"
                    height="350"
                    elevation="3"
                    class="overflow-auto"
                    rounded="lg"
                  >
                    <ReceiptDetailTable></ReceiptDetailTable>
                  </v-sheet>
                </div>
              </v-col>

              <!-- <v-col cols="12">
                <v-sheet min-width="300" max-width="600" height="50" elevation="3">
                  <v-text-field v-model="searchField" variant="underlined" label="Search" append-icon="mdi-search-web" 
                      @click:append="onClick"
                      @keyup.enter="onClick">
                    </v-text-field>
                </v-sheet>
              </v-col> -->

              <v-col cols="12">
                <v-sheet min-width="30%" max-width="100%" height="100%" elevation="3" rounded="lg">
                  <v-container
                    style="
                      display: flex;
                      background-color: #b0bdac;
                      min-height: 100px;
                      width: 100%;
                      padding-top: 20px;
                      border-radius: 10px;
                      opacity: 1;
                      font-size: larger;
                    "
                  >
                    <!-- <v-row min-width="50%" max-width="100%">
                      <v-table>
                        <thead>
                          <tr font-size="h3" class="text-h5">
                            <th>Detail</th>
                          </tr>
                        </thead>
                      </v-table> 
                      </v-row> -->
                    <br />
                    <v-row>
                      <v-col cols="6" style="padding-bottom: 3%">จำนวนรวมทั้งหมด</v-col
                      ><v-col cols="6">{{ calculateStore.receiptPos?.totalAmount }}</v-col>
                      <v-col cols="6" style="padding-bottom: 3%">ยอดก่อนหัก</v-col
                      ><v-col cols="6">{{ calculateStore.receiptPos?.totalBefore }}</v-col>
                      <v-col cols="6" style="padding-bottom: 3%">ส่วนลดสมาชิก</v-col
                      ><v-col cols="6">{{ calculateStore.receiptPos?.memberDiscount }}</v-col>
                      <v-col cols="6" style="padding-bottom: 3%">ยอดรวม</v-col
                      ><v-col cols="6">{{ calculateStore.receiptPos?.total }}</v-col>
                      <v-col cols="6" style="padding-bottom: 3%">ชื่อสมาชิก</v-col
                      ><v-col cols="6">{{
                        calculateStore.receiptPos?.member?.name
                          ? calculateStore.receiptPos?.member?.name
                          : '-'
                      }}</v-col>
                      <v-col cols="6" style="padding-bottom: 3%">โปรโมชั่น</v-col>
                      <v-col cols="6">{{
                        calculateStore.receiptPos?.promotion?.condition
                          ? calculateStore.receiptPos?.promotion?.condition
                          : '-'
                      }}</v-col>
                    </v-row>
                  </v-container>
                </v-sheet>
              </v-col>

              <v-col cols="12">
                <v-sheet
                  min-width="30%"
                  max-width="100%"
                  elevation="3"
                  class="overflow-auto"
                  rounded="lg"
                >
                  <v-container style="background-color: rgb(233, 227, 219)">
                    <v-row v-row justify-content="center">
                      <v-col cols="12" md="12">
                        <v-btn
                          block
                          rounded="xl"
                          style="background-color: rgb(40, 168, 40); color: white"
                          @click="printReceipt()"
                          >ชำระเงิน/พิมพ์ใบเสร็จ</v-btn
                        >
                      </v-col>
                      <v-col cols="12" sm="6">
                        <v-btn block rounded="xl" @click="calculateStore.clear">ยกเลิก</v-btn>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <v-btn block rounded="xl" @click="promotionStore.showPromotionDialog"
                          >Promotion</v-btn
                        >
                      </v-col>
                    </v-row>
                    <!-- 
                    <v-row>
                      <v-col cols="12" sm="4">
                        <v-btn
                          block
                          rounded="xl"
                          color="primary"
                          @click="calculateStore.showMemberDialog()"
                          >สมาชิก</v-btn
                        >
                      </v-col>

                      <v-col cols="12" sm="4">
                        <v-btn block rounded="xl" color="primary" @click="cash()">เงินสด</v-btn>
                      </v-col>

                      <v-col cols="12" sm="4">
                        <v-btn block rounded="xl" color="primary" @click="prompay()"
                          >พร้อมเพย์</v-btn
                        >
                      </v-col>
                    </v-row> -->
                  </v-container>
                </v-sheet>
              </v-col>
            </v-row>
          </v-container>
          <br />
          <v-sheet
            min-width="30%"
            max-width="100%"
            elevation="3"
            class="overflow-auto"
            rounded="lg"
            style="
              display: flex;
              background-color: #b0bdac;
              min-height: 100px;
              width: 100%;
              padding-top: 20px;
              border-radius: 10px;
              opacity: 1;
            "
          >
            <v-container>
              <v-row>
                <v-col>
                  <div
                    style="
                      display: flex;
                      background-color: #b0bdac;
                      min-height: 100px;
                      width: 100%;
                      padding-top: 20px;
                      border-radius: 10px;
                      opacity: 1;
                    "
                  >
                    <!-- Cash!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
                    <div style="flex: 0.7"></div>
                    <div style="flex: 1">
                      <v-row justify="start">
                        <v-btn color="#E7DABF" width="80" height="80" @click="cash()">
                          <v-row align="center" justify="center">
                            <v-icon style="font-size: 36px">mdi-cash</v-icon>
                          </v-row>
                        </v-btn>
                      </v-row>
                    </div>

                    <!-- Prompay!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
                    <div style="flex: 1">
                      <v-row>
                        <v-btn color="#E7DABF" width="80" height="80" @click="prompay()">
                          <v-row align="center" justify="center">
                            <v-icon style="font-size: 36px">mdi-qrcode-scan</v-icon>
                          </v-row>
                        </v-btn>
                      </v-row>
                    </div>
                    <!-- Credit!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
                    <div style="flex: 1">
                      <v-row>
                        <v-btn
                          color="#E7DABF"
                          width="80"
                          height="80"
                          @click="calculateStore.showMemberDialog()"
                        >
                          <v-row align="center" justify="center">
                            <v-icon style="font-size: 36px">mdi-account-group</v-icon>
                          </v-row>
                        </v-btn>
                      </v-row>
                    </div>
                  </div>
                </v-col>
              </v-row>
            </v-container>
          </v-sheet>
        </v-col>
      </v-row>
    </v-container>
  </v-sheet>
  <PromotionDialog></PromotionDialog>
  <ReceiptDialog></ReceiptDialog>
  <SearchDialog></SearchDialog>
  <CashDialog></CashDialog>
  <PrompayDialog></PrompayDialog>
  <MemberCard></MemberCard>
  <CheckMoneyProDialog></CheckMoneyProDialog>
</template>

<style scoped>
.custom-scrollbar {
  /* Set a fixed height for the container to enable scrolling */
  height: 300px;
  overflow-y: scroll;

  /* Customize the scrollbar track */
  scrollbar-color: #333333 #f5f5f5;
  scrollbar-width: thin;
}

.BG-img {
  width: 100vw;
  height: 100vh;
  background-image: url('/Photo/logo/background-pos.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #733331;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(transparent, #73333130);
}
.BG-img {
  width: 100%;
  height: 100%; /* Set height to 100vh for full screen */
  background-image: url('/public/logo/background-pos.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; /* Remove padding to ensure full coverage */
  margin: 0; /* Remove margin to ensure full coverage */
}
</style>
