<script setup lang="ts">
import { usePromotionStore } from '@/stores/promotion'
import type { Promotion } from '@/types/Promotion'
import { ref } from 'vue'

const promotionStore = usePromotionStore()

function selectRow(index: number, item: any) {
  promotionStore.selectIndex = index
  promotionStore.p = item
}

function confirm() {
  promotionStore.applyPromotion(promotionStore.p!)
  promotionStore.promotionDialog = false
}

function clear() {
  promotionStore.selectIndex = -1
  promotionStore.promotionDialog = false
}
</script>

<template>
  <v-dialog v-model="promotionStore.promotionDialog" persistent width="400px" height="600px">
    <v-table style="background-color: #b0bdac">
      <thead>
        <tr font-size="h3" class="text-h5">
          <th>Promotion</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="(item, index) in promotionStore.promotions"
          :class="{ 'bold-row': index === promotionStore.selectIndex }"
          :key="item.id"
          @click="selectRow(index, item)"
        >
          <td>{{ item.condition }}</td>
        </tr>
      </tbody>
    </v-table>
    <v-btn cols="4" style="justify-content: right" @click="confirm()">Confirm</v-btn>
    <v-btn cols="4" style="justify-content: right" @click="clear()">Cancel</v-btn>
  </v-dialog>
</template>

<style scoped>
.bold-row {
  font-weight: bold;
}
</style>
