<script setup lang="ts">
//import { useCalculateStore } from '@/stores/calculate';
//import type { ReceiptItem } from '@/type/ReceiptItem';
import { ref } from 'vue'
import { useCalculateStore } from '@/stores/calculate'

const calculateStore = useCalculateStore()
</script>

<template>
  <v-dialog v-model="calculateStore.prompayDialog" persistent width="auto">
    <v-card>
      <v-card-title class="text-h5"> Received Amount </v-card-title>

      <v-card-text>
        <div>
          <div style="text-align: center">
            <v-img :src="`https://promptpay.io/1209701991385.png`" width="300"></v-img>
          </div>
        </div>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="green-darken-1"
          variant="text"
          @click="
            (calculateStore.prompayDialog = false),
              calculateStore.save(calculateStore.receiptPos!.total)
          "
        >
          ปิด
        </v-btn>
        <!-- <v-btn color="green-darken-1" variant="text" @click="() => {
                    calculateStore.prompayDialog = false
                    calculateStore.clear()
                }">
                    บันทึก
                </v-btn> -->
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
