<script setup lang="ts">
import { userReceiptStore } from '@/stores/receipt'
// import type ReceiptDetailTable from './ReceiptDetailTable.vue'
// import type POSView from './POSView.vue'
import { ref } from 'vue'
// import MemberCard from './MemberCard.vue'
import { useCalculateStore } from '@/stores/calculate'
// import WarningMoneyDialog from '/WarningMoneyDialog.vue'

// const tel = ref(inject('tel'));
// const cashes = inject('cashes')
// const promp = computed(() => receiptStore.receipt?.total)
// const creadit = inject('create') as Ref<number>
const currentTime = ref(new Date())
const day = currentTime.value.getDate()
const Round = ref(1)
const month = currentTime.value.getMonth() + 1
const year = currentTime.value.getFullYear()
const date = `${day}/${month}/${year}`
const time = currentTime.value.toLocaleTimeString()
const calculateStore = useCalculateStore()
// const receiptStore = userReceiptStore()

// const totalAmount = computed(() => {
//   return receiptStore.receiptItems.reduce((sum, item) => {
//     return sum + item.unit * item.price
//   }, 0)
// })

// function calculateTotal() {
//   if (receiptStore.receipt?.totalBefore >= 300) {
//     if (receiptStore.memberDiscount !== 10) {
//       return receiptStore.receipt?.total - 50
//     } else {
//       return receiptStore.receipt?.total - 60
//     }
//   } else {
//     if (receiptStore.memberDiscount == 10) {
//       return receiptStore.receipt?.total - 10
//     } else {
//       return receiptStore.receipt?.total
//     }
//   }
// }

function Pay() {
  if (calculateStore.receiptPos!.receivedAmount >= calculateStore.receiptPos!.total) {
    calculateStore.receiptDialog = false
    calculateStore.order()
    Round.value++
    calculateStore.clear()
  } else {
    calculateStore.receiptDialog = false
    calculateStore.showWarningMoneyDialog()
  }
}

// const remainingAmount = (cash?.value || 0) +
//                        (promp?.value || 0) +
//                        (creadit?.value || 0) -
//                        totalAmount.value;
// function round(){
//   return Round++
// }
// const displayedRound = ref(1);

// onMounted(() => {
//   displayedRound.value = Round.value++; // กำหนดค่าเริ่มต้น
// });
</script>

<template>
  <v-dialog v-model="calculateStore.receiptDialog" persistent width="auto">
    <v-card>
      <!-- <v-card-title class="text-h5">Receipt</v-card-title> -->
      <v-row><v-col></v-col></v-row>
      <v-row>
        <v-col>Date: {{ date }}</v-col>
        <v-col>Time: {{ time }}</v-col>
      </v-row>
      <v-row>------------------------------------------------------------------------</v-row>
      <div
        style="
          margin-top: 10px;
          margin-bottom: 10px;
          padding-top: 10px;
          padding-bottom: 10px;
          text-align: center;
          font-size: 30px;
          font-weight: bold;
        "
      >
        SALES RECEIPT
      </div>
      <br />
      <div style="text-align: center">1st Floor,Sonehti Bank,Quaid-e-Azam Road, Gojra.</div>
      <br />
      <div style="text-align: center">Contact No : 789-657-7860</div>
      <br />
      <div>Bill No:{{ Round }}</div>
      <v-row>------------------------------------------------------------------------</v-row>
      <v-row>
        <v-card>
          <v-table fixed-header height="500px" style="overflow: auto">
            <thead>
              <tr>
                <!-- <th class="text-center">ID</th> -->
                <th class="text-center">Name</th>
                <th class="text-center">Price</th>
                <th class="text-center">Quantity</th>
                <th class="text-center">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item of calculateStore.receiptItems" :key="item.id">
                <!-- <td class="text-center">{{ item.id }}</td> -->
                <td class="text-center">{{ item.name }}</td>
                <td class="text-center">{{ item.price }}</td>
                <td class="text-center">{{ item.unit }}</td>
                <td class="text-center">{{ item.unit * item.price }} ฿</td>
              </tr>
              <tr>
                <td>
                  <div
                    style="
                      font-size: 28px;
                      height: 100px;
                      width: 100px;
                      padding-left: auto;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    "
                  >
                    Total:
                  </div>
                </td>
                <td style="font-size: 28px; text-align: right">
                  {{ calculateStore.receiptPos?.total }} ฿
                </td>
              </tr>
              <tr>
                <td>
                  <div style="text-align: center">Cash/Prompay:</div>
                </td>
                <td style="text-align: right; flex: 1">
                  {{ calculateStore.receiptPos?.paymentType }}
                  ฿
                </td>
              </tr>
              <tr>
                <td>Paid amount:</td>
                <td style="text-align: right; flex: 1">
                  {{ calculateStore.receiptPos?.receivedAmount }} ฿
                </td>
              </tr>
              <tr>
                <td>Change:</td>
                <td style="text-align: right; flex: 1">
                  {{ calculateStore.receiptPos?.change }}
                  ฿
                </td>
              </tr>
            </tbody>
          </v-table>
        </v-card>
      </v-row>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="red" variant="text" @click="calculateStore.receiptDialog = false">
          Cancel
        </v-btn>
        <v-btn
          color="green"
          variant="text"
          @click="
            () => {
              Pay()
              // cashes = 0
              // MemberCard.tels.value = '';
              // tel = ref('');
            }
          "
        >
          Submit
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <WarningMoneyDialog></WarningMoneyDialog>
</template>
<style scoped>
.v-btn {
  padding: 20px;
}
</style>
