<script setup lang="ts">
import { userReceiptStore } from '@/stores/receipt'
import { ref } from 'vue'
const num = -50
const receiptStore = userReceiptStore()
const radio = ref('Promotion')

function calculateTotal() {
  if (receiptStore.receipt?.totalBefore >= 300) {
    if (receiptStore.memberDiscount !== 10) {
      return receiptStore.receipt?.total - 50
    } else {
      return receiptStore.receipt?.total - 60
    }
  } else {
    if (receiptStore.memberDiscount == 10) {
      return receiptStore.receipt?.total - 10
    } else {
      return receiptStore.receipt?.total
    }
  }
}
</script>
<template>
  <v-container>
    <v-row
      no-gutters
      style="
        color: #000000;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
          Geneva, Verdana, sans-serif;
      "
    >
      <v-col cols="6"> ยอดก่อนหัก </v-col>
      <v-col cols="2">
        {{ receiptStore.receipt?.totalBefore }}
      </v-col>
      <v-col cols="4">
        <div>
          <v-select
            style="height: 10px"
            v-model="radio"
            :items="['1', '2', '3', '4', '5', '6']"
          ></v-select>
        </div>
      </v-col>

      <v-col cols="6"> ส่วนลดสำหรับสมาชิก </v-col>
      <v-col cols="6">
        {{ -receiptStore.memberDiscount }}
      </v-col>
      <v-col cols="6"> ส่วนลดพิเศษ</v-col>
      <v-col cols="6" v-if="receiptStore.receipt?.totalBefore >= 300">
        {{ -50 }}
      </v-col>
      <v-col cols="6" v-else>
        {{ 0 }}
      </v-col>
      <!-- <v-col cols="6"> ส่วนลด 50 ฿ ซื้อครบ 300 ฿ </v-col>
      <v-col cols="6" v-if="receiptStore.receipt?.totalBefore >= 300">
        {{ -50 }}
      </v-col>
      <v-col cols="6" v-else>
        {{ 0 }}
      </v-col> -->
      <v-col cols="6"> ยอดรวม </v-col>
      <v-col cols="6">
        {{ calculateTotal() }}
      </v-col>
    </v-row>
  </v-container>
</template>
