<script setup lang="ts">
import { useCalculateStore } from '@/stores/calculate'

const calculateStore = useCalculateStore()
</script>

<template>
  <v-table>
    <thead>
      <tr font-size="h3" class="text-h5">
        <th>Order</th>
      </tr>
      <tr>
        <th>ID</th>
        <th rowspan="2">Name</th>
        <th>Price</th>
        <th>Unit</th>
        <th>Total</th>
        <th>X</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(item, index) in calculateStore.receiptItems" :key="item.id">
        <td>{{ index + 1 }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td>
          <v-btn icon="mdi-minus" density="compact" @click="calculateStore.dec(item)"></v-btn>
          {{ item.unit }}
          <v-btn icon="mdi-plus" density="compact" @click="calculateStore.inc(item)"></v-btn>
        </td>
        <td width="100">{{ item.price * item.unit }}</td>
        <td>
          <v-btn
            icon="mdi-delete"
            density="compact"
            @click="calculateStore.deleteReceiptItem(item)"
          ></v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
