<!-- <script setup lang="ts">
import { usePosStore } from '@/stores/pos'

const posStore = usePosStore()
</script>

<template>
  <v-dialog>
    <v-sheet
                height="135"
                elevation="6"
                class="text-left align-end"
                style="border-radius: 25px; overflow: hidden; background-color: #e7dabf; opacity: 1"
              >
                <div>
                  <div>
                    <button
                      @click="selectOption('S')"
                      class="circle-button"
                    >
                      S
                    </button>
                    <button
                      @click="selectOption('M')"
                      class="circle-button"
                    >
                      M
                    </button>
                    <button
                      @click="selectOption('L')"
                      class="circle-button"
                    >
                      L
                    </button>
                  </div>
                  <div>
                    <v-select
                      v-model="radio"
                      :items="['0%', '25%', '50%', '75%', '100%', '150%']"
                    ></v-select>
                  </div>
                </div>
              </v-sheet>
  </v-dialog>
</template>
<style scoped>
.circle-button {
  width: 50px; /* ปรับขนาดตามที่ต้องการ */
  height: 50px; /* ปรับขนาดตามที่ต้องการ */
  border-radius: 50%; /* ทำให้มีรูปร่างเป็นวงกลม */
  background-color: #677a74; /* สีพื้นหลัง */
  color: #fff; /* สีของตัวอักษร */
  font-size: 20px; /* ขนาดตัวอักษร */
  border: none; /* ลบเส้นขอบ */
  margin: 5px; /* ระยะห่างระหว่างปุ่ม */
  cursor: pointer; /* กำหนดเคอร์เซอร์เป็นรูปแบบของมือ */
  outline: none; /* ลบเส้นขอบเมื่อไฟล์ชนะโฟกัส */
}

.circle-button.active {
  background-color: #b0bdac; /* สีพื้นหลังเมื่อเป็น active */
}
</style> -->
