<script setup lang="ts">
import { useCalculateStore } from '@/stores/calculate'

const calculateStore = useCalculateStore()
</script>

<template>
  <v-dialog max-width="500" v-model="calculateStore.warningMoneyDialog">
    <v-card title="จำนวนเงินไม่เพียงพอ">
      <v-card-text>
        จำนวนยอดเงินรวมไม่เพียงพอ กรุณาจ่ายเงินให้เพียงพอกับจำนวนเงินที่ต้องจ่าย
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn @click="calculateStore.warningMoneyDialog = false">ปิด</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
