<script setup lang="ts">
import router from '@/router'
import { useReceiptIngStore } from '@/stores/receiptIng'
import type { ReceiptIngStore } from '@/types/ReceiptIngStore'
import { onMounted, ref } from 'vue'

const receiptIngStore = useReceiptIngStore()

const headers = [
  {
    title: 'Id',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Date',
    key: 'createdDate',
    value: 'createdDate'
  },
  {
    title: 'totalBefore',
    key: 'totalBefore',
    value: 'totalBefore'
  },
  {
    title: 'total',
    key: 'total',
    value: 'total'
  },
  {
    title: 'totalAmount',
    key: 'totalAmount',
    value: 'totalAmount'
  },
  {
    title: 'receivedAmount',
    key: 'receivedAmount',
    value: 'receivedAmount'
  },
  {
    title: 'change',
    key: 'change',
    value: 'change'
  },
  {
    title: 'paymentType',
    key: 'paymentType',
    value: 'paymentType'
  },
  // {
  //   title: 'Roles',
  //   key: 'roles',
  //   value: (item: any | User) => item.roles.join(', ')
  // },
  { title: 'Actions', key: 'actions', sortable: false }
]

function receiptItem(item: any) {
  receiptIngStore.receiptIng = item
  receiptIngDialog.value = true
  receiptIngStore.showReceiptIngDialogById(item)
  console.log(receiptIngStore.receiptItemsIngredient)
}
const receiptIngDialog = ref(false) // Controls the visibility of the dialog

function naviIngredientStore() {
  router.push('/ingStore')
}

onMounted(async () => {
  receiptIngStore.getOrderIngredients()
  console.log('receiptIngStore' + receiptIngStore.receiptItemsIngredient)
  console.log()
})
</script>
<template>
  <v-parallax
    src="https://images.pexels.com/photos/15645111/pexels-photo-15645111/free-photo-of-close-up-of-woman-holding-a-cup-of-coffee-and-using-a-smartphone.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
  >
    <div>
      <v-container style="padding-top: 100">
        <v-row>
          <v-col cols="12" style="background-color: #e0e0e0">
            <v-container>
              <v-sheet
                min-width="500"
                max-width="100%"
                height="900"
                elevation="6"
                class="overflow-auto"
              >
                <v-data-table :headers="headers" :items="receiptIngStore.receiptItemsIngredient">
                  <template v-slot:top>
                    <v-toolbar flat>
                      <v-toolbar-title>Receipt Ingredient Store</v-toolbar-title>
                      <v-divider class="mx-4" inset vertical></v-divider>
                      <v-spacer></v-spacer>
                    </v-toolbar>
                  </template>
                  <template v-slot:[`item.actions`]="{ item }">
                    <v-icon size="small" @click="receiptItem(item)" class="text-center">
                      mdi-launch
                    </v-icon>
                  </template>
                </v-data-table>
              </v-sheet>
              <v-row style="padding-left: 0.5%">
                <v-btn
                  rounded
                  @click="naviIngredientStore()"
                  class="mr-10 mt-6"
                  rounded-xl
                  color="blue"
                  width="200px"
                >
                  Back
                </v-btn>
              </v-row>
            </v-container>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </v-parallax>

  <!-- Add v-dialog component here -->
  <v-dialog v-model="receiptIngDialog" max-width="500px">
    <v-card>
      <v-card-title class="text-h5"> Receipt </v-card-title>
      <v-card-text>
        <div>
          <div style="text-align: center">
            <v-row align="center" justify="center" style="font-size: 25px">
              ID: {{ receiptIngStore.receiptIng?.id }}
            </v-row>
          </div>

          <v-row>
            <v-col> </v-col>
            <v-col style="text-align: left">
              Date: {{ receiptIngStore.receiptIng?.createdDate }}<br />
              รายการ<br />
              <v-table>
                <thead>
                  <tr>
                    <th class="text-left">Name</th>
                    <th class="text-left">Acc</th>
                    <th class="text-left">Price</th>
                    <th class="text-left">QTY</th>
                    <th class="text-left">Unit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="item in receiptIngStore.receiptIng?.orderIngredientItems"
                    :key="item.id"
                  >
                    <td>{{ item.name }}</td>
                    <td>{{ item.acc }}</td>
                    <td>{{ item.acc * item.qty }}</td>
                    <td>{{ item.qty }}</td>
                    <td>{{ item.unit }}</td>
                  </tr>
                </tbody>
              </v-table>

              จำนวน: {{ receiptIngStore.receiptIng?.totalAmount }}<br />
              ยอดเงินรวม: {{ receiptIngStore.receiptIng?.totalBefore }}<br />
              ยอดสุทธิ: {{ receiptIngStore.receiptIng?.total }}<br />
              ประเภทการจ่ายเงิน: {{ receiptIngStore.receiptIng?.paymentType }}<br />
            </v-col>
            <v-col> </v-col>
          </v-row>
        </div>
      </v-card-text>
      <v-card-actions>
        <v-btn color="blue darken-1" @click="receiptIngDialog = false">Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style scoped></style>
