<script setup lang="ts">
import CheckInCheckOutStatus from '@/components/CheckInCheckOutStatus.vue'
</script>

<template>
  <v-parallax src="https://i.pinimg.com/originals/90/b0/52/90b052fb77bd0f272617b1ac0a667a97.gif">
    <div class="d-flex flex-column fill-height justify-center align-center text-white">
      <h4 class="subheading">
        <CheckInCheckOutStatus></CheckInCheckOutStatus>
      </h4>
    </div>
  </v-parallax>
</template>
