<script setup lang="ts">
import HomeOnboarding from '@/components/HomeOnboarding.vue'
import HomeCenter from '@/components/HomeCenter.vue'
import { useLoadingStore } from '@/stores/loading';
import { onMounted } from 'vue';

const loadingStore = useLoadingStore()
onMounted(async () => {
  await loadingStore.doLoad()
  await loadingStore.finish()
})
</script>

<template>
  <!-- <v-parallax
    src="https://images.pexels.com/photos/15645111/pexels-photo-15645111/free-photo-of-close-up-of-woman-holding-a-cup-of-coffee-and-using-a-smartphone.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
  >
    <div class="d-flex flex-column fill-height justify-center align-center text-white">
      <h1 class="text-h4 font-weight-thin mb-4"></h1>
      <h4 class="subheading">
        <HomeOnboarding></HomeOnboarding>
        <HomeCenter></HomeCenter>
      </h4>
    </div>
  </v-parallax> -->
  <div style="background-color: RGB(150, 111, 87)">
    <v-row>
      <v-col cols="12">
        <HomeOnboarding></HomeOnboarding>
      </v-col>
      <v-col cols="12">
        <HomeCenter></HomeCenter>
      </v-col>
    </v-row>
  </div>
</template>
