<script setup lang="ts">
import { useAuthStore } from '@/stores/auth'
import { computed, inject, ref, type Ref } from 'vue'
import { useRouter } from 'vue-router'

const authStore = useAuthStore()
const drawer = inject<Ref<boolean>>('drawer')
const rail = inject<Ref<boolean>>('rail')
const isMouseOverDrawer = ref(false)
const user = authStore.getCurrentUser()
const router = useRouter() // เพิ่มการใช้งาน router

const handleMouseEnter = () => {
  isMouseOverDrawer.value = true
}

const handleMouseLeave = () => {
  isMouseOverDrawer.value = false
}

const handleLogout = () => {
  authStore.logout()
  router.push('/login') // เด้งไปยังหน้า Login
}
function showLogout(Value: boolean) {
  if (!Value) {
    return false
  } else {
    return true
  }
}
const currentUser = authStore.getCurrentUser()
const currentUserEmail = computed(() => authStore.getCurrentUser()?.email)
</script>
<template>
  <v-navigation-drawer
    v-if="currentUserEmail === 'admin@admin.com'"
    v-model="drawer"
    :rail="rail"
    expand-on-hover
    style="background-color: #ae917c"
    @mouseenter="handleMouseEnter"
    @mouseleave="handleMouseLeave"
    scroll="0"
    permanent
  >
    <v-list-item
      prepend-avatar="./public/Employee/Employee2.jpg"
      padding-bottom="2%"
      :title="user?.fullName"
    >
      <v-icon
        v-model="rail"
        v-if="isMouseOverDrawer"
        icon="mdi-logout"
        style="position: absolute; top: 0; right: 0; margin-top: 10px; padding-right: 10px"
        value="Logout"
        @click="handleLogout"
      ></v-icon
    ></v-list-item>

    <v-divider></v-divider>

    <v-list density="compact" nav>
      <v-list-item
        class="bg-main-color"
        prepend-icon="mdi-home-variant-outline"
        title="Home"
        value="home"
        activator="parent"
        :to="{ name: 'home' }"
      ></v-list-item>
      <v-list-item
        class="bg-main-color"
        prepend-icon="mdi-coffee-outline"
        title="Point of Sale"
        value="Point of Sale"
        :to="{ name: 'pos' }"
      ></v-list-item>

      <v-list-item
        class="bg-main-color"
        prepend-icon="mdi-finance"
        title="Report"
        value="Point of Sale (Graph)"
        :to="{ name: 'posGraph' }"
      ></v-list-item>

      <v-list-item
        class="bg-main-color"
        prepend-icon="mdi-account-group-outline"
        title="Member"
        value="member"
        :to="{ name: 'member' }"
      ></v-list-item>

      <v-list-group value="Checkstock">
        <template v-slot:activator="{ props }">
          <v-list-item
            class="bg-main-color"
            v-bind="props"
            prepend-icon="mdi-clipboard-clock-outline"
            title="Checkstock"
          ></v-list-item>
        </template>

        <v-list-item
          class="bg-main-color"
          prepend-icon="mdi-store"
          title="Check Stock"
          value="checkStock"
          :to="{ name: 'checkStock' }"
        ></v-list-item>
        <v-list-item
          class="bg-second-color"
          prepend-icon="mdi mdi-chart-histogram"
          title="ReportStock"
          value="chartCheck"
          :to="{ name: 'chartCheck' }"
        ></v-list-item>
      </v-list-group>

      <v-list-item
        class="bg-main-color"
        prepend-icon="mdi-cart"
        title="Products"
        value="products"
        activator="parent"
        :to="{ name: 'products' }"
      ></v-list-item>

      <v-list-group value="Check the Time">
        <template v-slot:activator="{ props }">
          <v-list-item
            class="bg-main-color"
            v-bind="props"
            prepend-icon="mdi-clipboard-clock-outline"
            title="Check the Time"
          ></v-list-item>
        </template>
        <v-list-item
          class="bg-second-color"
          prepend-icon="mdi-list-status"
          title="CheckInOutStatusView"
          value="CheckInOutStatusView"
          activator="parent"
          :to="{ name: 'CheckInOutStatusView' }"
        ></v-list-item>
        <v-list-item
          class="bg-second-color"
          prepend-icon="mdi-archive-edit-outline"
          title="Check In - Out"
          value="Check In - Out"
          activator="parent"
          :to="{ name: 'checkedit' }"
        ></v-list-item>
        <v-list-item
          class="bg-second-color"
          prepend-icon="mdi-account-check "
          title="Status"
          value="status"
          activator="parent"
          :to="{ name: 'checkInCheckOut' }"
        ></v-list-item>
      </v-list-group>

      <v-list-group value="Salary">
        <template v-slot:activator="{ props }">
          <v-list-item
            class="bg-main-color"
            v-bind="props"
            prepend-icon="mdi-chart-timeline"
            title="Salary"
          ></v-list-item>
        </template>
        <v-list-item
          class="bg-second-color"
          prepend-icon="mdi-account-box"
          title="Employee"
          value="employee"
          activator="parent"
          :to="{ name: 'employee' }"
        ></v-list-item>
        <v-list-item
          class="bg-second-color"
          prepend-icon="mdi-cash"
          title="Salary Payment"
          value="salary Payment"
          activator="parent"
          :to="{ name: 'salaryPayment' }"
        ></v-list-item>
        <v-list-item
          class="bg-second-color"
          prepend-icon="mdi-chart-histogram"
          title="Salary Receipt"
          value="salary Receipt"
          activator="parent"
          :to="{ name: 'showSalaryPaymentDetail' }"
        ></v-list-item>
      </v-list-group>

      <v-list-group value="Cost of utilities">
        <template v-slot:activator="{ props }">
          <v-list-item
            class="bg-main-color"
            v-bind="props"
            prepend-icon="mdi-water-boiler"
            title="Cost of utilities"
          ></v-list-item>
        </template>
        <v-list-item
          class="bg-second-color"
          prepend-icon="mdi-water-minus"
          title="Pay water and electricity"
          value="pay water and electricity"
          activator="parent"
          :to="{ name: 'paycost' }"
        ></v-list-item>
        <v-list-item
          class="bg-second-color"
          prepend-icon="mdi-receipt-text-check"
          title="Receipt"
          value="receipt"
          activator="parent"
          :to="{ name: '' }"
        ></v-list-item>
      </v-list-group>

      <v-list-item
        class="bg-main-color"
        prepend-icon="mdi-account"
        title="User"
        value="User"
        activator="parent"
        :to="{ name: 'userView' }"
      ></v-list-item>
    </v-list>
  </v-navigation-drawer>

  <v-navigation-drawer
    v-else
    v-model="drawer"
    :rail="rail"
    expand-on-hover
    style="background-color: #ae917c"
    @mouseenter="handleMouseEnter"
    @mouseleave="handleMouseLeave"
    scroll="0"
    permanent
  >
    <v-list-item
      :prepend-avatar="'./public/Employee/Employee8.jpg'"
      padding-bottom="2%"
      :title="user?.fullName"
    >
      <v-icon
        v-model="rail"
        v-if="isMouseOverDrawer"
        icon="mdi-logout"
        style="position: absolute; top: 0; right: 0; margin-top: 10px; padding-right: 10px"
        value="Logout"
        @click="handleLogout"
      ></v-icon
    ></v-list-item>

    <v-divider></v-divider>

    <v-list density="compact" nav>
      <v-list-item
        class="bg-main-color"
        prepend-icon="mdi-home-variant-outline"
        title="Home"
        value="home"
        activator="parent"
        :to="{ name: 'home' }"
      ></v-list-item>
      <v-list-item
        class="bg-main-color"
        prepend-icon="mdi-coffee-outline"
        title="Point of Sale"
        value="Point of Sale"
        :to="{ name: 'pos' }"
      ></v-list-item>

      <v-list-item
        class="bg-main-color"
        prepend-icon="mdi-finance"
        title="Point of Sale (Report)"
        value="Point of Sale (Graph)"
        :to="{ name: 'posGraph' }"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-logout"
        title="Logout"
        value="loout"
        @click="authStore.logout()"
      ></v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<style scoped>
.bg-main-color {
  background-color: #7e9a91;
}
.bg-second-color {
  background-color: #b0bdac;
}
</style>
