<script lang="ts">
import { type CheckInCheckOut } from '@/types/CheckInCheckOut'
import { useHistoryCheckInCheckOut } from '@/types/CheckInCheckOutHistory'

export default {
  data() {
    return {
      Checkstatus: [
        {
          id: 1,
          name: 'โนบิตะ โนบิ',
          position: 'เจ้าของร้าน',
          currentDate: new Date(),
          checkIn: false,
          checkOut: false
        },
        {
          id: 2,
          name: 'มิซึริ คันโรจิ',
          position: 'ผู้จัดการร้าน',
          currentDate: new Date(),
          checkIn: false,
          checkOut: false
        },
        {
          id: 3,
          name: 'ชินอีจิ คุโด้',
          position: 'พนักงานเสิร์ฟ',
          currentDate: new Date(),
          checkIn: false,
          checkOut: false
        },
        {
          id: 4,
          name: 'ทาเคชิ โกดะ',
          position: 'พนักงานเสิร์ฟ',
          currentDate: new Date(),
          checkIn: false,
          checkOut: false
        },
        {
          id: 5,
          name: 'ไจโกะ โกดะ',
          position: 'พนักงานแคชเชียร์',
          currentDate: new Date(),
          checkIn: false,
          checkOut: false
        },
        {
          id: 6,
          name: 'โนบิซุเกะ โนบิ',
          position: 'พนักงานชงเครื่องดื่ม',
          currentDate: new Date(),
          checkIn: false,
          checkOut: false
        },
        {
          id: 7,
          name: 'ชิซุกะ มินาโมโตะ',
          position: 'พนักงานทำครัว',
          currentDate: new Date(),
          checkIn: false,
          checkOut: false
        },
        {
          id: 8,
          name: 'เดคิซุงิ เดไซ',
          position: 'พนักงานทำครัว',
          currentDate: new Date(),
          checkIn: false,
          checkOut: false
        },
        {
          id: 9,
          name: 'ซึเนโอะ โฮเนคาว่า',
          position: 'พนักงานล้างจาน',
          currentDate: new Date(),
          checkIn: false,
          checkOut: false
        },
        {
          id: 10,
          name: 'เซวาชิ โนบิ',
          position: 'พนักงานล้างจาน',
          currentDate: new Date(),
          checkIn: false,
          checkOut: false
        }
      ] as CheckInCheckOut[],
      searchText: '',
      historyStore: useHistoryCheckInCheckOut()
    }
  },

  computed: {
    filteredCheckstatus(): CheckInCheckOut[] {
      const searchText = this.searchText.toLowerCase()
      return this.Checkstatus.filter((item) => item.name.toLowerCase().includes(searchText))
    }
  },
  mounted() {
    console.log(this.Checkstatus)
  }
}
</script>

<template>
  <div class="container">
    <div class="search-bar">
      <input v-model="searchText" placeholder="Search by name" />
    </div>
    <v-table fixed-header height="600">
      <thead>
        <tr>
          <th class="text-left">ID</th>
          <th class="text-left">AVATAR</th>
          <th class="text-left">NAME</th>
          <th class="text-left">POSITION</th>
          <th class="text-left">CURRENT DATE (DAY/MONTH/YEAR)</th>
          <th class="text-left">CheckInStatus</th>
          <th class="text-left">CheckOutStatus</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in filteredCheckstatus" :key="item.id">
          <td>{{ item.id }}</td>
          <td>
            <v-img
              :src="`public/Employee/Employee${item.id}.jpg`"
              style=""
              class="rounded-image"
            ></v-img>
          </td>
          <td>{{ item.name }}</td>
          <td>{{ item.position }}</td>
          <td>
            {{
              'Day: ' +
              item.currentDate.getDate() +
              ' / Month: ' +
              (item.currentDate.getMonth() + 1) +
              ' / Year: ' +
              item.currentDate.getFullYear()
            }}
          </td>
          <td v-for="item2 in historyStore.editHistoryCheckInCheckOut" :key="item2.id">
            {{ item2.checkInTimeStatus }}
          </td>
          <td v-for="item3 in historyStore.editHistoryCheckInCheckOut" :key="item3.id">
            {{ item3.checkOutTimeStatus }}
          </td>
          <!-- <td>
            <template v-if="item.inStatus">
              <div class="text-end">
                <v-
                  color="green"chip
                  :text="`${
                    item.currentDate.getHours() +
                    ':' +
                    item.currentDate.getMinutes() +
                    ':' +
                    item.currentDate.getSeconds()
                  }`"
                  class="text-uppercase center-text-in-chip"
                  label
                  size="small"
                ></v->
              </div>
            </template>
            <template v-else>
              <div class="text-end">
                <v-chip
                  color="red"
                  text="Out of stock"
                  class="text-uppercase"
                  label
                  size="small"
                ></v-chip>
              </div>
            </template>
          </td>
          <td>
            <v-chip
              color="red"
              :text="`${
                item.currentDate.getHours() +
                ':' +
                item.currentDate.getMinutes() +
                ':' +
                item.currentDate.getSeconds()
              }`"
              class="text-uppercase center-text-in-chip"
              label
              size="small"
            ></v-chip>
          </td> -->
        </tr>
      </tbody>
    </v-table>
  </div>
</template>

<style scoped>
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.search-bar {
  margin-bottom: 20px;
}

/* Optional: Style your table for better readability */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  border: 1px solid #dddddd;
  text-align: left;
}

th {
  background-color: #f0f0f0;
}

@media screen and (max-width: 900px) {
  .container {
    margin: 10px;
    padding: 15px;
  }

  /* Adjust other styles for smaller screens */
}

.rounded-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.center-text-in-chip {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
