<script setup lang="ts">
import { ref, onMounted } from 'vue'
const length = 7
let onboarding = ref(1)

const next = () => {
  onboarding.value = onboarding.value + 1 > length ? 1 : onboarding.value + 1
}

const prev = () => {
  onboarding.value = onboarding.value - 1 <= 0 ? length : onboarding.value - 1
}

onMounted(() => {
  
  // Automatically call the next function every 5 seconds
  setInterval(next, 5000)
})
</script>

<template>
  <v-card theme="dark" color="rgb(119, 85, 72)" flat rounded="0">
    <v-window v-model="onboarding">
      <v-window-item v-for="n in length" :key="`card-${n}`" :value="n">
        <v-card
          height="450"
          class="d-flex justify-center align-center"
          :style="{ backgroundColor: 'rgb(188, 180, 177)' }"
        >
          <v-img class="mx-auto" :src="`public/HomeOnboarding_img/HomeCover${n}.jpg`"></v-img>

          <!-- <span class="text-h2">
                Card {{ n }}    
                </span> -->
        </v-card>
      </v-window-item>
    </v-window>

    <v-card-actions class="justify-space-between">
      <v-btn variant="plain" icon="mdi-chevron-left" @click="prev"></v-btn>
      <v-item-group v-model="onboarding" class="text-center" mandatory>
        <v-item v-for="n in length" :key="`btn-${n}`" v-slot="{ isSelected, toggle }" :value="n">
          <v-btn
            v-if="n % 2 != 0"
            :variant="isSelected ? 'outlined' : 'text'"
            icon="mdi-cat"
            style="color: antiquewhite"
            @click="toggle"
          ></v-btn>
          <v-btn
            v-else
            :variant="isSelected ? 'outlined' : 'text'"
            icon="mdi-dog"
            @click="toggle"
          ></v-btn>
        </v-item>
      </v-item-group>
      <v-btn variant="plain" icon="mdi-chevron-right" @click="next"></v-btn>
    </v-card-actions>
  </v-card>
</template>
