<script setup lang="ts">
import { ref } from 'vue'

const dialog1 = ref(false)
const dialog2 = ref(false)
const dialog3 = ref(false)

const openDialog1 = () => {
  dialog1.value = true
}

const openDialog2 = () => {
  dialog2.value = true
}

const openDialog3 = () => {
  dialog3.value = true
}
</script>

<template>
  <div
    style="background-color: rgb(192, 192, 192); margin-left: 5%; margin-right: 5%; padding-top: 2%"
  >
    <v-row style="padding-left: 10%; padding-right: 10%">
      <v-col>
        <v-hover v-slot="{ isHovering, props }">
          <v-card class="mx-auto" max-width="344" v-bind="props">
            <!-- <v-img src="https://cdn.sogoodweb.com/Preview/11/images/TE0011-007.jpg"></v-img> -->
            <v-img
              src="public\HomeOnBoarding_img\HomeCover4.jpg"
              max-height="300px"
              max-width="350px"
            ></v-img>

            <v-card-text>
              <h2 class="text-h6 text-primary">Summer Special: Buy 1 Get 1 Free!</h2>
              Summer Special: Buy 1 Get 1 Free!: Enjoy our summer promotion from January 1, 2024, to
              February 1, 2024. Buy any item and get another one absolutely free!
            </v-card-text>

            <v-card-title>
              <v-rating
                :model-value="4"
                dense
                color="pink"
                background-color="pink"
                hover
                class="me-2"
              ></v-rating>
              <span class="text-primary text-subtitle-2">64 reviews</span>
            </v-card-title>

            <v-overlay
              :model-value="isHovering"
              contained
              scrim="#036358"
              class="align-center justify-center"
            >
              <v-btn @click="openDialog1" variant="flat">See more info</v-btn>
            </v-overlay>
          </v-card>
        </v-hover>
      </v-col>

      <v-col
        ><v-hover v-slot="{ isHovering, props }">
          <v-card class="mx-auto" max-width="344" v-bind="props">
            <v-img
              src="public\HomeOnBoarding_img\HomeCover5.jpg"
              max-height="300px"
              max-width="350px"
            ></v-img>

            <v-card-text>
              <h2 class="text-h6 text-primary">50% Off on Our Signature Coco Coffee Menu!</h2>
              50% Off on Our Signature Coco Coffee Menu! Indulge in our delicious Coco Coffee menu
              with a whopping 50% discount. Don't miss out on this incredible offer!
            </v-card-text>

            <v-card-title>
              <v-rating
                :model-value="4"
                dense
                color="pink"
                background-color="pink"
                hover
                class="me-2"
              ></v-rating>
              <span class="text-primary text-subtitle-2">102 Reviews</span>
            </v-card-title>

            <v-overlay
              :model-value="isHovering"
              contained
              scrim="#036358"
              class="align-center justify-center"
            >
              <v-btn @click="openDialog2" variant="flat">See more info</v-btn>
            </v-overlay>
          </v-card>
        </v-hover>
      </v-col>

      <v-col>
        <v-hover v-slot="{ isHovering, props }">
          <v-card class="mx-auto" max-width="344" v-bind="props">
            <v-img
              src="public\HomeOnBoarding_img\HomeCover6.jpg"
              max-height="300px"
              max-width="350px"
            ></v-img>

            <v-card-text>
              <h2 class="text-h6 text-primary">
                Instant Discount: Save 10 Baht on Every 200 Baht Spent!
              </h2>
              Instant Discount: Save 10 Baht on Every 200 Baht Spent! Get an instant discount of 10
              Baht on your purchase when you spend 200 Baht or more.
            </v-card-text>

            <v-card-title>
              <v-rating
                :model-value="4"
                dense
                color="pink"
                background-color="pink"
                hover
                class="me-2"
              ></v-rating>
              <span class="text-primary text-subtitle-2">64 Comments</span>
            </v-card-title>

            <v-overlay
              :model-value="isHovering"
              contained
              scrim="#036358"
              class="align-center justify-center"
            >
              <v-btn @click="openDialog3" variant="flat">See more info</v-btn>
            </v-overlay>
          </v-card>
        </v-hover>
      </v-col>
    </v-row>
  </div>

  <div class="text-center">
    <v-dialog v-model="dialog1" width="auto">
      <v-card>
        <v-img
          src="public\HomeOnBoarding_img\HomeCover4.jpg"
          min-width="600"
          min-height="600"
        ></v-img>
        <v-card-text>
          Summer Special: Buy 1 Get 1 Free!: Enjoy our summer promotion from January 1,<br />
          2024, to February 1, 2024. Buy any item and get another one absolutely free! <br />
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" block @click="dialog1 = false">Close Dialog</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
  <div class="text-center">
    <v-dialog v-model="dialog2" width="auto">
      <v-card>
        <v-img
          src="public\HomeOnBoarding_img\HomeCover5.jpg"
          min-width="600"
          min-height="600"
        ></v-img>
        <v-card-text>
          50% Off on Our Signature Coco Coffee Menu! Indulge in our delicious Coco Coffee menu
          <br />
          with a whopping 50% discount. Don't miss out on this incredible offer!
          <br />
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" block @click="dialog2 = false">Close Dialog</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
  <div class="text-center">
    <v-dialog v-model="dialog3" width="auto">
      <v-card>
        <v-img
          src="public\HomeOnBoarding_img\HomeCover6.jpg"
          min-width="600"
          min-height="600"
        ></v-img>
        <v-card-text>
          Instant Discount: Save 10 Baht on Every 200 Baht Spent! Get an instant discount <br />
          of 10 Baht on your purchase when you spend 200 Baht or more.
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" block @click="dialog3 = false">Close Dialog</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<style scoped>
/* Adjustments for smaller screens */
@media screen and (max-width: 600px) {
  .mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .text-center {
    text-align: center !important;
  }
}
</style>
