<script setup lang="ts">
import { type Product } from '@/types/Product'

import ProductCard from './ProductCard.vue'

const props = defineProps<{
  products: Product[]
}>()
const emit = defineEmits<{
  selectedProduct: [Product] // selectedProduct(Product P)
}>()
function selected(p: Product) {
  console.log('ProductList' + p)
  emit('selectedProduct', p)
}
</script>
<template>
  <div style="height: 117.5vh; overflow-y: auto; border-bottom: 10px">
    <v-container>
      <v-row style="background-color: #ede1d2; border-radius: 26px; height: 120vh">
        <v-col
          cols="6"
          xs="6"
          sm=""
          md="6"
          lg="4"
          xl="2"
          v-for="item of products"
          :Key="item.id"
          style="justify-content: center; text-align: center; display: flex"
        >
          <ProductCard :product="item" @selectedProduct="selected"></ProductCard>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
