<script setup lang="ts">
import { type Product } from '@/types/Product'
const props = defineProps<{
  product: Product
}>()
const emit = defineEmits<{
  selectedProduct: [Product] // selectedProduct(Product P)
}>()

const selected = function () {
  console.log('ProductCard: ' + props.product)
  emit('selectedProduct', props.product)
}
</script>
<template>
  <v-sheet
    width="135"
    height="160"
    elevation="3"
    @click="selected"
    style="border-radius: 30px; overflow: hidden"
  >
    <v-img
      :src="`./img/coffees/product${product.id}.jpg`"
      height="100"
      cover
      style="border-radius: 30px"
    ></v-img>
    <div
      style="
        text-align: center;
        margin-top: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
          Geneva, Verdana, sans-serif;
      "
    >
      {{ product.name }}
      <!-- {{ product.price }} บาท -->
    </div>
  </v-sheet>
</template>
