<template>
  <v-layout class="rounded rounded-md">
    <v-main class="align-center justify-center" style="width: 1080px; height: 720px">
      <div class="pa-6">
        <router-view></router-view>
      </div>
    </v-main>
  </v-layout>
</template>

<style>
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #733331;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(transparent, #73333130);
}
</style>
