<script setup lang="ts">
import { ref } from 'vue'

const dialog = ref(false)
</script>

<template>
  <div class="text-center pa-4">
    <v-dialog v-model="dialog" max-width="400" persistent>
      <template v-slot:activator="{ props: activatorProps }">
        <v-btn v-bind="activatorProps"> Open Dialog </v-btn>
      </template>

      <v-card
        prepend-icon="mdi-map-marker"
        text="Let Google help apps determine location. This means sending anonymous location data to Google, even when no apps are running."
        title="สรุปการบันทึกค่าน้ำค่าไฟ"
      >
        <template v-slot:actions>
          <v-spacer></v-spacer>

          <v-btn to="/paycost"> Cancel </v-btn>

          <!-- <v-btn @click="createSalaryReceipt"> Confirm </v-btn> -->
        </template>
      </v-card>
    </v-dialog>
  </div>
</template>
