<script setup lang="ts">
import { useExpenseStore } from '@/stores/expense'

const expenseStore = useExpenseStore()
</script>

<template>
  <v-table>
    <thead>
      <tr>
        <th class="text-center">เลขใบเสร็จ</th>
        <th class="text-center">วันที่ออกบิล</th>
        <th class="text-center">ค่าไฟ</th>
        <th class="text-center">ค่าน้ำ</th>
        <th class="text-center">ค่าเช่า</th>
        <th class="text-center">รวม</th>
      </tr>

      <div></div>
    </thead>
    <tbody>
      <tr v-for="item in expenseStore.expenses" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.startDate }}</td>
        <td>{{ item.totalElecPrice }}</td>
        <td>{{ item.totalWaterPrice }}</td>
        <td>{{ item.rent }}</td>
        <td>{{ item.total }}</td>
      </tr>
    </tbody>
  </v-table>
</template>
